<div class="d-flex column">
  <div class="background">
    <span class="name d-flex column">
      <strong> JESSICA </strong>
      <strong> RIBEIRO </strong>
    </span>

  </div>

  <div class="info d-flex column">
    <span class="info_item">
      (48) 9999-4494
    </span>
    <span class="info_item">
      jessicaribeiros.com.br
    </span>
    <span class="info_item">
      jessica@email.com.br
    </span>
    <span class="info_item">
      Av. Rosário, 555
      Curitiba - PR
    </span>
  </div>
</div>
