<section class="container">

  <div class="curriculum d-flex row">
    <div class="curriculum_left d-flex column">
      <app-personal-info></app-personal-info>

      <div class="leftHorizontalLine"></div>
      <app-references></app-references>

      <div class="leftHorizontalLine"></div>
      <app-skills> </app-skills>
    </div>

    <div class="curriculum_right d-flex column">
      <app-profile></app-profile>
      <div class="rightHorizontalLine"></div>
      <app-education></app-education>
      <div class="rightHorizontalLine"></div>
      <app-experiences></app-experiences>
    </div>


  </div>

</section>
