<div class="dummy">
  <img id="head" src="../../../assets/images/head.png" [hidden]="svc.isHidden[0]">
  <img id="body" src="../../../assets/images/corpo.png" [hidden]="svc.isHidden[1]">
  <img id="rightArm" src="../../../assets/images/bracoDireita.png" [hidden]="svc.isHidden[2]">
  <img id="leftArm" src="../../../assets/images/bracoEsquerdo.png" [hidden]="svc.isHidden[3]">
  <img id="rightLeg" src="../../../assets/images/pernaDireita.png" [hidden]="svc.isHidden[4]">
  <img id="leftLeg" src="../../../assets/images/pernaEsquerda.png" [hidden]="svc.isHidden[5]">
</div>
