body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.d-flex{
  display: flex;
}

.row{
  flex-direction: row;
}

.column{
  flex-direction: column;
}

.section_title{
  font-size: 20px;
  font-weight: bold;
  color: purple;
  margin-bottom: 10px;
}

.p-20{
  padding: 30px;
}
.pleft-30{
  padding-left: 30px;
}
