.letter{
  text-align: center;
  margin-top: 10px;
  height: 30px;
  width: 25px;
  margin-right: 10px;
  font: bold 16px arialsans-serif;
  color: rgb(119, 0, 255);
  border: none;
  border-bottom: 2px solid black;
}
